<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.senko.system.mapper.ResourceMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.senko.common.core.entity.ResourceEntity" id="resourceMap">
        <result property="id" column="id"/>
        <result property="resourceName" column="resource_name"/>
        <result property="url" column="url"/>
        <result property="requestMethod" column="request_method"/>
        <result property="parentId" column="parent_id"/>
        <result property="isAnonymous" column="is_anonymous"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>